/* =================Whole component================= */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fff;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
/* ================= Reuseable Component================= */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    background-color: #FD5B2F;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.btn a{
    color: #fff;
}
.btn:hover{
    background-color: #cc3f18;
    transition: .3s;
    padding: 10px 20px;
    border-radius: 15px;
}
section{
    height: 800px;
}
.section-1-of-2{
    height: 750px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.box{
    width: 50%;
}
h2{
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 25px;
    padding-right: 105px;

}
h3{
    font-size: 15px;
    color: #FD5B2F;
    padding-bottom: 15px;
}
.para{
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 100px;
}


/* =================Header Section================= */
.header-section{
    background-image: linear-gradient(to top,#FFF3EF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF ,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF , #EDFAFE);
    height: 1000px;
}
.topbar{
    display: flex;
    height: 50px;
    padding: 20px 0px;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    
}
.nav-item li{
    padding: 5px 20px;
}
.nav-item li:hover{
    background-color: #bcf2f2;
    border-radius: 15px;
    transition: .3s;
    padding: 5px 20px;
}
.heading-content{
    display: flex;
    height: 900px;
    align-items: center;
    position: relative;
}
.heading-content> div{
    flex: 1;
}
.heading-content> .heading-img-box{
    flex: 1.8;
}
.heading-img-box{
    position: relative;
    display: flex;
    flex: 1;
    align-items: flex-end;
}
.main-img{
    border-width: 1px 1px 0px 1px;
    border-color: #A7327A;
    border-style: solid;
    padding: 10px 10px 0px 10px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.main-img img{
    transform: translateX(20px);
}
.co-working{
    position: absolute;
    bottom: 0px;
    right: 175px;
    height: 240px;
}
.sub-image-1{
    position: absolute;
    top: 0px;
    right: 115px;

}
.sub-image-2{
    position: absolute;
    top: 325px;
    right: 75px;
}
.sub-image-3{
    position: absolute;
    top: 180px;
    right: 0px;
}
h1{
    font-size: 47px;
}
.location{
    width: 100%;
    position: relative;

}
.location-box{
    background-color: #f3f3f396;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    padding: 15px 25px;
    position: absolute;
    bottom: 165px;
    left: 0;
}
.location-box p{
    color: #989898;
}
.location-box p i{
    padding-right: 8px ;
}
.booked-people{
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 100px;
}
.booked-people img{
    width: 160px;
}
.booked-people p{
    font-size: 13px;
}
.imp-icon-area{
    display: flex;
    justify-content: space-around;
}
.imp-icon img{
    padding: 0px 20px;
}
/* =================Servie Section================= */

.play-btn{
    padding-left: 50px;
    color: #FD5B2F;
}
.play-btn i{
    font-size: 25px;
    padding-right: 10px;
}
/* =================Vision Section================= */
.sub-para-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.vison-para{
    padding-bottom: 35px;
}
.sub-para-item{
    width: 50%;
    padding-bottom: 25px;
}
.sub-para{
    font-weight: 400;
}
.sub-para-item img{
    padding-top: 0px;
}
.flex{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.flex img{
    padding-right: 10px;
}

/* =================Solutions Section================= */

/* =================Why Us Section================= */
.why-us-section{
    height: 400px;
}
.why-us-text{
    text-align: center;
}
.why-us-heading{
    padding: 10px 370px 50px 370px;
}
.why-us-box-area{
    width: 100%;
    display: flex;
    gap: 25px;
}
.why-us-box{
    text-align: center;
}
.box-icon{
    padding-bottom: 30px;
}
.box-title{
    padding-bottom: 10px;
    font-size: 16px;
}
.box-para{
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
}

/* =================Gallery Section================= */
.gallery-section{
    margin-top: 200px;
}

.photo-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.photo-gallery > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-gallery > .pic-1{
    flex: 1 1 150px;
}
.photo-gallery > .pic-2{
    flex: 1 1 250px;
}
.gallery-title{
    padding: 0px 0px 110px 0px;
    line-height: 55px;
}

/* =================Become a Member Section================= */
.schedule-btn{
    border: 1px solid #FD5B2F;
    background-color: #fff;
    padding: 9px 20px;
    border-radius: 5px;
    color: #FD5B2F;
    text-decoration: none;
}
.member-btn-group a{
    margin-right: 50px;
}

/* =================Become a Member Section================= */
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-logo-area{
    width: 300px;
}
.footer-logo{
    padding-bottom: 20px;
    color: #FD5B2F;
}
.footer-logo-area p{
    line-height: 25px;
    font-size: 14px;
    color: black;
}
.item ul li{
    padding-bottom: 10px;
}
.item ul li a{
    color: black;
    font-size: 14px;
}
.social-icon ul{
    display: flex;
}
.social-icon ul li{
    margin-right: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.social-icon ul li a i{
    color: #FD5B2F;
}
hr{
    margin-top: 50px;
    color: #FD5B2F;
}
.copyright{
    text-align: center;
    font-size: 13px;
    padding: 25px 0px;
}